@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  padding: 0;
  background: url('/public/bg.jpg') no-repeat center center fixed;
  background-size: cover; /* Adjust the blur intensity as needed */
}
